* {
  font-family: 'Roboto', sans-serif;
}

html a {
  text-decoration: none;
  color: #131313;
}

html a:hover {
  text-decoration: none;
}

body {
  margin: 0px;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  padding-right: 16px;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation .row {
  border-bottom: solid #3a3a3a 1px;
}

.navigation .logo {
  padding-top: 10px;
  float: right;
}

.navigation a {
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation .navbar {
  padding: 0;
  float: left;
}

.navigation .navbar-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation .navbar li {
  float: left;
}

.navigation .navbar li a {
  display: block;
  text-align: center;
  padding: 30px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation .navbar li a:hover {
  color: #ffffff;
}

.navigation .navbar li.active a {
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation.navigation-bg {
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.navigation.navigation-bg .row {
  border-bottom: none;
}

.navigation.navigation-bg a {
  color: #131313;
  padding-top: 7px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.navigation.navigation-bg li a {
  color: #131313;
  padding: 16px 16px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.navigation.navigation-bg li a:hover {
  color: #1facff;
}

.navigation.navigation-bg li.active a {
  color: #1facff;
  padding: 16px 16px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

@-webkit-keyframes slide-down {
  100% {
    top: 0px;
  }
}

@keyframes slide-down {
  100% {
    top: 0px;
  }
}

.main {
  height: 100vh;
}

.main-text {
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  letter-spacing: 2;
  opacity: 0.9;
}

.main-text:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main__name {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 0px;
  overflow: hidden;
}

.main__name span {
  position: relative;
  top: -50px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
}

.main__desc {
  font-size: 1.2em;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
  overflow: hidden;
}

.main__desc span {
  position: relative;
  top: -30px;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
}

.main-bg {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: 0px 0px;
}

.main-bg .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  z-index: 2;
}

.smooth-scroll {
  display: block;
  bottom: 50px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  width: 30px;
  height: 25px;
  overflow: hidden;
  text-align: center;
  opacity: 0.8;
}

.smooth-scroll:hover {
  opacity: 1;
}

.smooth-scroll .arrow {
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  top: -25px;
  position: relative;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
}

.smooth-scroll .down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.smooth-scroll.lift {
  bottom: 64px;
}

#projects {
  padding: 90px 0 180px;
  background: #ffffff;
}

#projects .projects-cont {
  width: 100%;
  text-align: center;
}

#projects .projects-cont .project {
  display: inline-block;
  width: 350px;
  height: 260px;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: solid #a8a8a8;
  border-width: 1px;
  position: relative;
}

#projects .projects-cont .project:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#projects .projects-cont .project .overlay-img {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  opacity: 0;
  color: white;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#projects .projects-cont .project:hover .overlay-img {
  opacity: 1;
}

#contacts {
  padding: 100px 0 100px;
  background: #f2f2f2;
}

#contacts .text-center {
  text-align: center;
}

#footer .text-center {
  text-align: center;
  width: 100%;
  padding: 50 0;
  font-size: 1em;
}

.header-cont {
  width: 100%;
  position: relative;
}

.header-cont .text-header {
  font-weight: 700;
  font-size: 2.2em;
  margin-bottom: 30px;
}

.header-cont p {
  font-size: 0.8em;
}

.header .iconn {
  width: 35px;
  height: 35px;
  margin: 30 auto;
}

.modaal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: 1000;
  padding: 1rem;
}

.modaal-dialog {
  position: relative;
  max-width: 1200px;
  width: 90%;
  max-height: 90vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modaal .modaal-header,
.modaal .modaal-footer {
  background: #efefef;
}

.modaal .modaal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modaal .modaal-header__title {
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  width: 100%;
}

.modaal .modaal-header .modaal-close {
  font-size: 1.5rem;
}

.modaal .modal p + p {
  margin-top: 1rem;
}

.modaal.is-visible {
  visibility: visible;
  opacity: 1;
}

.content-modal {
  padding: 10px;
}

.content-modal .cm-main-image {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.content-modal .cm-image-gif {
  width: 500px;
  margin: auto;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.content-modal .cm-image-gif .cm-gif {
  width: 100%;
}

.content-modal .cm-image-gif:before {
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: rgba(204, 209, 217, 0.3);
  content: '\f04b';
  font-family: 'FontAwesome';
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  padding-left: 2px;
}

.content-modal .cm-image-gif:hover::before {
  -webkit-box-shadow: 0px 0px 10px #ffffff;
          box-shadow: 0px 0px 10px #ffffff;
}

.content-modal .cm-image-gif.playing::before {
  display: none;
}

.content-modal .cm-desc {
  padding: 10px;
}

.content-modal .cm-desc p {
  text-indent: 1.5em;
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */